<div data-role="view" data-title="Parking Options" data-layout="main" data-model="app.parkingOptionsView" data-show="app.parkingOptionsView.onShow" data-after-show="app.parkingOptionsView.afterShow">
    <!-- START_CUSTOM_CODE_parkingOptionsView -->

    <!-- END_CUSTOM_CODE_parkingOptionsView -->
    <ul data-role="listview" data-style="inset">
        <li>
            <a href="components/optionView/view.html">
                <p><strong>P+R Olympisch Stadion</strong></p>
                <p>Gustav Mahlerlaan 3004 (4,1 Km)</p>
                <p>
                    <span class="cost">&euro; 7.50</span>
                    <span>17 min</span>
                </p>
            </a>
        </li>
        <li>
            <p><strong>P+R RAI</strong></p>
            <p>Europaboulevard (3,5 Km)</p>
            <p>
                <span class="cost">&euro; 8.50</span>
                <span>28 min</span>
            </p>
        </li>
        <li>
            <p><strong>P+R Bos en Lommer</strong></p>
            <p>Leeuwendalersweg 23b (4,4 Km)</p>
            <p>
                <span class="cost">&euro; 10.00</span>
                <span>25 min</span>
            </p>
        </li>
        <li>
            <p><strong>P+R Sloterdijk</strong></p>
            <p>Piarcoplein 1 (5,6 Km)</p>
            <p>
                <span class="cost">&euro; 15.00</span>
                <span>29 min</span>
            </p>
        </li>
        <li>
            <p><strong>Q-Park Museumplein</strong></p>
            <p>Van Baerlestraat 33B (500 m)</p>
            <p>
                <span class="cost">&euro; 50.00</span>
                <span>6 min</span>
            </p>
        </li>
        <li>
            <p><strong>Q-Park Byzantium</strong></p>
            <p>Tesselschadestraat 1G (450 m)</p>
            <p>
                <span class="cost">&euro; 60.00</span>
                <span>5 min</span>
            </p>
        </li>
    </ul>
</div>