<div data-role="view" data-title="Parking Options" data-layout="main" data-model="app.parkingOptionsView" data-show="app.parkingOptionsView.onShow" data-after-show="app.parkingOptionsView.afterShow">
    <!-- START_CUSTOM_CODE_parkingOptionsView -->

    <!-- END_CUSTOM_CODE_parkingOptionsView -->
    <!--<ul data-role="listview" data-style="inset" class="parkingOptions">
        <li>
            <a href="components/optionView/view.html">
                <div class="optionIcn optionPublic"></div>
                <div class="optionContent">
                	<p><strong>P+R Olympisch Stadion</strong></p>
                	<p>Gustav Mahlerlaan 3004 (4,1 Km)</p>
                    <p>
                        <div class="cost"></div>
                        <span class="sorted">7.50</span>
                        <div class="time"></div>
                    	<span>17 min</span>
                    </p>  
                </div>
                
            </a>
        </li>
        <li>
            <a href="components/optionView/view.html">
                <div class="optionIcn optionPublic"></div>
                <div class="optionContent">
                    <p><strong>P+R RAI</strong></p>
                    <p>Europaboulevard (3,5 Km)</p>
                    <p>
                        <div class="cost"></div>
                        <span class="sorted">8.50</span>
                        <div class="time"></div>
                    	<span>13 min</span>
                    </p>
                </div>
            </a>
        </li>
        <li>
            <a href="components/optionView/view.html">
                <div class="optionIcn optionBike"></div>
                <div class="optionContent">
                    <p><strong>P+R Bos en Lommer</strong></p>
                    <p>Leeuwendalersweg 23b (4,4 Km)</p>
                    <p>
                        <div class="cost"></div>
                        <span class="sorted">10.00</span>
                        <div class="time"></div>
                    	<span>18 min</span>
                    </p>
                </div>
            </a>
        </li>
        <li>
            <a href="components/optionView/view.html">
                <div class="optionIcn optionPublic"></div>
                <div class="optionContent">
                    <p><strong>P+R Sloterdijk</strong></p>
                    <p>Piarcoplein 1 (5,6 Km)</p>
                    <p>
                        <div class="cost"></div>
                        <span class="sorted">15.00</span>
                        <div class="time"></div>
                    	<span>9 min</span>
                    </p>
                </div>
            </a>
        </li>
        <li>
            <a href="components/optionView/view.html">
                <div class="optionIcn optionCar"></div>
                <div class="optionContent">
                    <p><strong>Q-Park Museumplein</strong></p>
                    <p>Van Baerlestraat 33B (500 m)</p>
                    <p>
                        <div class="cost"></div>
                        <span class="sorted">50.00</span>
                        <div class="time"></div>
                    	<span>6 min</span>
                    </p>
                </div>
            </a>
        </li>
        <li>
            <a href="components/optionView/view.html">
                <div class="optionIcn optionCar"></div>
                <div class="optionContent">
                    <p><strong>Q-Park Byzantium</strong></p>
                    <p>Tesselschadestraat 1G (450 m)</p>
                    <p>
                        <div class="cost"></div>
                        <span class="sorted">60.00</span>
                        <div class="time"></div>
                    	<span>5 min</span>
                    </p>
                </div>
            </a>
        </li>
    </ul>-->
    <ul class="parkingOptions" id="searchResults">
  	</ul>
</div>